.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
}
.hero-content{
    width: 100%;
    max-width: 555px;
}

.hero-heading{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(70/50);
    color: var(--heading-color);
}

.hero-desc{
    line-height: calc(30/16);
    margin-bottom: 50px;
}

.hero-image{
    display: flex;
    width: 100%;
    height: 350px;
    margin-top: 50px;
}
